* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden;

  &__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

main {
  margin: 30px auto;
  border: 2px solid;
  width: 70%;
}

.gallery {
  padding: 15px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 75px;
  grid-gap: 15px;
  grid-auto-flow: dense;
  justify-content: center;
  align-content: center;

  &__item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
    object-fit: cover;
    outline-offset: 10px;
    z-index: 10;
    transition: all 0.5s;

    &--image {
      width: 100%;
      height: 100%;
    }

    &:hover {
      opacity: 1;
      z-index: 20;
      transform: scale(1.2);
      outline: 0.5rem solid green;
    }
  }

  &:hover &__item:not(:hover) {
    transform: scale(0.8);
  }

  &:hover {
    transform: scale(1);
  }

  .vertical {
    grid-row: span 2;
  }

  .horizontal {
    grid-column: span 2;
  }

  .square {
    grid-column: span 2;
    grid-row: span 2;
  }

  .rectangle {
    grid-area: 1 / 1 / span 3 / span 3;
  }
}
